/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
  }
  
  #h3:hover {
    color: hsl(35, 77%, 62%);
    background-color: hsl(240, 100%, 6%);
    cursor: pointer;
  }
  
  body p{
    font-size: 15px;
  }
  
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh; 
    background-color: #f0f0f0;
    background-image: url('https://media.istockphoto.com/id/804346778/photo/gray-white-polygonal-abstract-geometric-clean-simple-background.jpg?s=612x612&w=0&k=20&c=iUpxTNLzltMGYiAtFPI0Cia-NQP-3Ml1OOiudkoRX4k=');
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Wrapper Styles */
  .wrapper {
    background-color: hsl(36, 100%, 99%);
    max-width: 1600px;
    max-height: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }
  
  /* Top Bar Styles */
  #top-bar {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 45px;
    margin: 0 auto;
  }
  
  #logo {
    margin-right: auto;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  li:not(:last-child) {
    margin-right: 10px;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: hsl(5, 85%, 63%);
  }
  
  #NEW{
    color: hsl(35, 77%, 62%);
  }
  
  /* Main Content Styles */
  .main-div {
    display: grid;
    grid-template-columns: 15.5% 1fr 15.5% 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 35px;
    width: 100%;
  }
  
  /* Main Image Styles */
  #main-image {
    width: 100%;
    height: fit-content;
    max-height: auto;
    grid-row: 1;
    grid-column: 1 / span 4;
  }
  
  /* Main 1 Styles */
  #main-1 {
    color: #fff;
    background-color: hsl(240, 100%, 5%);
    text-align: left;
    align-items: stretch;
    width: auto;
    height: auto;
    min-width: 315px;
    padding: 20px;
    grid-row: 1 / span 2;
    grid-column: 5/span 2;
  }
  
  #main-1 p {
    font-size: 1rem;
  }
  
  #main-1 h3 {
    margin: 20px 0;
    font-size: 1.92rem;
  }
  
  #main-1 hr {
    margin: 25px 0;
  }
  
  /* Main 2 Styles */
  #main-2 {
    color: #000;
    margin-top: 0;
    width: auto;
    min-width: 205px;
    max-width: 305px;
    height: auto;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.4rem;
    text-align: left;
    grid-row: 2;
    grid-column: 1/span 2;
  
  }
  
  /* Main 3 Styles */
  #main-3 {
    color: #000;
    font-size: 1.24rem;
    align-self: center;
    font-weight: 100;
    grid-row:2;
    grid-column: 3/span 2;
    display: flex;
    width: auto;
    min-width: 275px;
    max-width: 345px;
    flex-direction: column;
  }
  
  /* Button Styles for Main 3 */
  #main-3 button {
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    width: 175px;
    font-size: auto;
    letter-spacing: 1.85px;
    border: none;
    padding: 15.99px;
    margin-top: 25px;
    cursor: pointer;
  }
  
  #main-3 button:hover {
    background-color: #000;
  }
  
  /* Footer Styles */
  #bold {
    font-weight: bold;
    cursor: pointer;
    color: #000;
    font-size: 1.445rem;
  }
  
  .footNumber{
  }
  
  #num1 {
    font-size: 2rem;
    color: hsl(186, 0%, 62%);
  }
  
  #bold:hover {
    color: hsl(5, 85%, 63%);
  }
  
  .footer-grid {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .footer-item {
    display: grid;
    grid-template-columns: .51fr 1fr;
    align-items: left;
  }
  
  .footer-image {
    width: 165px;
    height: 165px;
    margin-right: 25px;
  }
  
  .footer-text {
    grid-column: 2;
    color: hsl(236, 13%, 42%);
    text-align: left;
    font-size: 1.25rem;
  }
  
  /* Media Queries */
  
  /* Adjustments for larger screens */
  @media only screen and (min-width: 1024px) {
    #top-bar {
      justify-content: space-around;
      align-items: center;
    }
  
    .mobile-menu-btn {
      display: none;
    }
  
    .nav-sidebar {
      display: flex;
      position: static;
      height: auto;
      width: auto;
      background-color: transparent;
      box-shadow: none;
    }
  
    .nav-sidebar ul {
      display: flex;
      flex-direction: row;
    }
  
    .nav-sidebar a {
      padding: 10px;
    }
  
    .nav-sidebar .close-btn {
      display: none;
    }
  }
  
  /* Adjustments for medium screens */
  @media only screen and (min-width: 768px) {
    .nav-sidebar .close-btn {
      display: none;
    }
  }
  
  /* Adjustments for small screens */
  @media only screen and (max-width: 767px) {
    .main-div {
      display: flex;
      flex-direction: column;
    }
  
    #main-image,
    #main-1,
    #main-2,
    #main-3 {
      width: 100%;
    }
  
    #top-bar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    ul {
      list-style: none;
      text-align: center;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    li {
      display: block;
      margin: 5px 0;
    }
  
    .mobile-menu-btn {
      display: block;
      margin-right: 10px;
    }
  
    /* Adjustments for the footer */
    .footer-grid {
      grid-template-columns: 1fr;
    }
  
    .footer-item {
      text-align: center;
    }
  
    /* Mobile menu styles */
    .nav-sidebar {
      display: none;
    }
  
    .nav-sidebar.show {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 70%;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    .nav-sidebar.show .close-btn {
      display: block;
    }
  
    .nav-sidebar a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #000;
    }
  }
  
  /* Mobile menu button styles */
  .mobile-menu-btn {
    display: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 767px) {
    .mobile-menu-btn {
      display: block;
      margin-right: 10px;
    }
  }
  