body {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loading {
    text-align: center;
    font-style: italic;
    max-width: 50%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold;
}

.loading__author {
    font-weight: normal;
    font-size: 0.9rem;
    color: rgba(12, 91, 151, 0.857);
    margin: 0.6rem 0.2rem 0;
    display: block;
}

.loading__anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-left-color: rgba(3, 154, 229, 0.635);
    border-top-color: rgba(3, 155, 229, 1);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}