body {
    width: auto;
    height: auto;
  }
  
  #index{
    background-color: #0a0a23;
    color: antiquewhite;
  }
  #index a:hover{
    font-size: 24px;
    background-color: #1A2311;
    color: #f0ffff;
  }
  
  html {
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
  
  button {
    font-size: 18px;
  }
  
  #container {
    border: .8px inset #0a0a23;
    position: absolute;
    width: 50%;
  }
  
  #animation {
    width: fit-content;
    height: fit-content;
    background-color: #eeFFFF;
    border: 2.75px inset #0a0a23;
    position: relative;
  }
  
  #animation p {
    border: 2.75px inset #0a0a23;
    width: fit-content;
    text-align: center;
  }
  
  #container p {
    width: fit-content;
    font-size: 18px;
    text-align: center;
  }